extends ../layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/snippets/index.css')

block content
    .ui.container.fluid(style='padding: 0 25px;')
        if snippets && snippets.length
            .ui.cards
                for snippet in snippets
                    a.card(href='/editor/edit/' + snippet._id)
                        .content
                            .header= snippet.title
                            .meta= snippet.type.charAt(0).toUpperCase() + snippet.type.slice(1)
                            .main.description.convert-markdown= snippet.content
                        .extra.content(style='text-align: right;')
                            = 'Submitted by ' + snippet.author.displayName()

block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.1/showdown.min.js')
    script(src='/javascripts/snippets/index.js')