extends ../layout

block stylesheets
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
block content
    .ui.container
        if infos && infos.length
            .ui.info.message
                .header Information
                ul.list
                    for info in infos
                        li #{info}
        if errors && errors.length
            .ui.error.message
                .header There were some errors
                ul.list
                    for error in errors
                        li #{error}
        form.ui.form(method='post', action='/editor/edit')
            if (snippet && snippet.author && (snippet.author.equals(currentUser._id) || currentUser.role === 'admin'))
                input(type='hidden', name='documentId', value=snippet._id)
            .two.fields
                .field
                    label Title
                    if (snippet && snippet.title)
                        if (snippet.author.equals(currentUser._id) || currentUser.role === 'admin')
                            input(type='text', name='title', placeholder='Title', value=snippet.title)
                        else
                            input(type='text', name='title', placeholder='Title', value='Copy: ' + snippet.title)
                    else 
                        input(type='text', name='title', placeholder='Title')
                .field
                    label Category
                    select.ui.fluid.dropdown(name='category')
                        if (snippet && snippet.type && snippet.type==='stockphrase')
                            option(value='stockphrase', selected) Stockphrase
                        else
                            option(value='stockphrase') Stockphrase
                        if (snippet && snippet.type && snippet.type==='snippet')
                            option(value='snippet', selected) Snippet
                        else
                            option(value='snippet') Snippet
                        if (snippet && snippet.type && snippet.type==='template')
                            option(value='template', selected) Template
                        else
                            option(value='template') Template
            .ui.segment
                .field
                    .ui.toggle.checkbox
                        if(snippet && snippet.public===true)
                            input.hidden(type='checkbox', name='private')
                        else
                            input.hidden(type='checkbox', name='private', checked)
                        label Keep private
            .field
                label Content
                textarea#main-editor(name='content')
                    if(snippet && snippet.content)
                        = snippet.content
            button.ui.button(type='submit') Save
block scripts
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    script(src='/javascripts/editor/edit.js')