extends ../layout

block stylesheets
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
    link(rel='stylesheet', href='/stylesheets/editor/index.css')
block content
    .ui.fluid.container
    if false
        .ui.container.fluid(style='padding:20px')
            .ui.two.column.grid
                .column.four.wide
                    .ui.segment
                        h4 Quick Notes
                    .ui.segment
                        h4 Snippets
                        form.ui.form
                            .field
                                .ui.checkbox
                                    input.hidden(type='checkbox')
                                    label Stockphrases
                            .field
                                .ui.checkbox
                                    input.hidden(type='checkbox')
                                    label Snippets
                            .field
                                .ui.checkbox
                                    input.hidden(type='checkbox')
                                    label Templates
                            .field
                                .ui.checkbox
                                    input.hidden(type='checkbox')
                                    label Only my snippets
                            .field
                                .ui.icon.input.fluid
                                    input(type='text', placeholder='Search...')
                                    i.search.icon
                .column.twelve.wide
                    textarea#main-editor
block scripts
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    script(src='/javascripts/editor/index.js')